{% extends 'base.html.twig' %}

{% block body %}
    <h1>Adverts list</h1>


    <div>
        {% for advert in adverts %}
            {% include 'advert/adBox.html.twig' %}
        {% endfor %}
    </div>


{% endblock %}
